.about-main-section{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin-top: 50px;
}

.container{
    display: flex;
    padding-bottom: 20px;
}

.about-main-div{

}
.about-main-h1 {
  color: #fff; 
  margin-bottom: 1rem;
  padding: 0 20px;
  font-size: 2.0rem;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}



  .about-main-p{
    color: #fff; 
     text-align: justify;
    font-size: 1.3rem;
    padding: 0 20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
  }
.about-main-imagediv{
    display: flex;
    align-items: center;
    justify-content: center;

}
.about-main-imagediv-image{
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    padding: 20px 20px;
}


  @media only screen and (max-width: 1024px) {
    .about-main-h1 {
      font-size: 2.50rem; /* lg:text-8xl */
      line-height: 1.25; /* lg:leading-normal */
    }
    .container{
        display: flex;
        flex-direction: column;
    }
  }

  @media only screen and (max-width: 740px) {
    .about-main-h1 {
        font-size: 2.0rem;
   
      }
      .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
    }
    .about-main-imagediv{
      display: none;
        margin-top: 20px;
        width: 260px;
        height: 260px;
     }
    .about-main-imagediv-image{
       width: 100%;
       height: 100%;
       object-fit: cover;
       border-radius: 100%;
   }
  }