.about-main-section{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin-top: 100px;
}

.container{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.about-main-div{
  display: flex;
  flex-direction: column;
  flex:2
}

.about-main-h1 {
  color: aqua; 
  margin-bottom: 1rem;
  padding: 0 20px;
  font-size: 1.6rem;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add text shadow */
}



  .about-main-p{
    color: #fff; 
     text-align: justify;
    font-size: 1.3rem;
    padding-left: 20px;
    padding-right: 100px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
  }
.about-main-imagediv{

    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;

}

.about-main-imagediv-inner{
  width: 300px;
  height: 300px;

}

.about-main-imagediv-image {

  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  padding: 20px;
  transition: transform 0.3s ease; /* Add transition property for smooth animation */
}

.about-main-imagediv-image:hover {
  transform: scale(1.1); /* Scale the image on hover */
}



  @media only screen and (max-width: 1024px) {
    .about-main-h1 {
      font-size: 1.4rem; 

    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .about-main-imagediv{
      display: none;
        margin-top: 20px;
        width: 260px;
        height: 260px;
     }
  }

  @media only screen and (max-width: 740px) {
    .about-main-section{
      margin-top: 50px;
  }
    .about-main-h1 {
        font-size: 1.3rem;
   
      }

      .about-main-p{
        color: #fff; 
         text-align: justify;
        font-size: 1rem;
        padding: 0 20px;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
      }

      .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
    }
    .about-main-imagediv{
      display: none;
        margin-top: 20px;
        width: 260px;
        height: 260px;
     }
    .about-main-imagediv-image{
       width: 100%;
       height: 100%;
       object-fit: cover;
       border-radius: 100%;
   }
  }