* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  font-family: "Open Sans", "Helvetica Neue";
  width: 100vw;
  height: 100vh;

}

#light {
  background: linear-gradient(to bottom, #ff69b4, #fce9ed);
  color: #46045e;
  }


#dark {
  background: linear-gradient(to bottom, #46045e, #9d00a0);
    color:#f3ebf6;
  }
  

.main{
  width: 100px;
  height: 100px;
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#light .main{
  background: linear-gradient(to bottom, #46045e, #9d00a0);
}

#dark .main{
  background: linear-gradient(to bottom, #ff69b4, #fce9ed);
}


.react-switch .react-switch-bg {
  background-color: #46045e;
}